<!DOCTYPE html>
<html>
    <body>
        <div>
            George's awesome app
        </div>
        <div>
            Successfully authenticated.
            <%- data -%>
        </div>
        </form>
    </body>
</html>